*{ box-sizing: border-box;}

/**{
    outline: 2px solid red;
    box-sizing: border-box;
}


/*++++++++++++++++++
ENCABEZADO
++++++++++++++++++++*/
.Logo
{
 height: 120px;
 position: relative;
 top: 3px;
}


.cabesera
{
    background-color: antiquewhite;
    color: rgb(53, 196, 112);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 20px solid aquamarine;
    border-radius: 50px;
    height: 140px;
    position: sticky;
    top: 0px;
    left: 0px;
}

.cabesera > nav
{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 5px solid rgb(255, 255, 152);
    border-radius: 50px;
    box-sizing: border-box;
    position: relative;
    top: 35px;
    left: -5px;
}

.backtop
{
    height: 100px;
    display: flex;
    position: sticky;
    justify-content: right;
    bottom: 0px;
    right: 0px;
}

/*++++++++++++++++++
CUERPO 
++++++++++++++++++++*/
p
{
    font-family: 'Courier New', Courier, monospace;
}

body
{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-image: 
    url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjMzMC10YW5nLTYxLWFuaW1hbHBhdHRlcm5fMi5qcGc.jpg);
}

main{flex-grow: 1;}

.parrafos
{
    width: 600px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    border: 20px solid aquamarine;
    border-radius: 50px;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-fondo-colorido-patron-geometrico-costuras_53876-118676.jpg?w=740&t=st=1714577708~exp=1714578308~hmac=151659a0b4fac9fec2869b8e201145a6239b743906ec4bed02d445382b74dfd6);
}
.parrafo-img
{
    display: flex;
    justify-content: space-evenly;
}

.perfil
{
    display: inline;
    border: 10px solid aquamarine;
    border-radius: 50px;
}

figcaption
{
    background-color: bisque;
    text-align: center;
    font-size: large;
}

span{
    display: inline-block;
    justify-content: space-evenly;
}

.home-imgs
{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}

.catalogo-lst
{
    padding: 10px;
    display: flex;
    border: 10px solid rgb(204, 147, 209);
    border-radius: 50px;
    justify-content: space-evenly;
    background-color: rgb(170, 224, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

/* #nav-CategoriasCatalogo
{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 5px solid rgb(255, 255, 152);
    border-radius: 50px;
    box-sizing: border-box;
    position: relative;
    top: 35px;
    left: -5px;
} */

.foto-catalogo
{
    border: 5px solid rgb(255, 255, 123);
    border-radius: 50px;
}

.form
{
    border: 5px solid black;
    border-radius: 5px;
    border-style: dashed;
    justify-content: center;
    display: inline-block;
    padding: 10px;
}

/*++++++++++++++++++
PIE
++++++++++++++++++++*/
.pie-pagina
{
    display: flex;
    justify-content: right;
    gap: 50px;
    border: 10px solid rgb(184, 229, 255);
    border-radius: 10px;
    background-color: beige;
}

/* Responsividad mobil
*/
@media (width < 581px){
    main{flex-grow: 1;
        }
    .Titulo-Principal{
        display: none;
    }
    }