
/**{
    outline: 2px solid red;
    box-sizing: border-box;
}


/*++++++++++++++++++
ENCABEZADO
++++++++++++++++++++*/
.Logo
{
 height: 120px;
}

.menu-principal
{
    display: flex;
    align-items: center;
    gap: 15px;
}

.cabesera
{
    background-color: antiquewhite;
    color: rgb(53, 196, 112);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 20px solid aquamarine;
    border-radius: 50px;
    height: 100px;
}

/*++++++++++++++++++
CUERPO 
++++++++++++++++++++*/
p
{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-fondo-colorido-patron-geometrico-costuras_53876-118676.jpg?w=740&t=st=1714577708~exp=1714578308~hmac=151659a0b4fac9fec2869b8e201145a6239b743906ec4bed02d445382b74dfd6);
}

body
{
    background-image: 
    url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjMzMC10YW5nLTYxLWFuaW1hbHBhdHRlcm5fMi5qcGc.jpg);
}
.parrafos
{
    width: 600px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    border: 20px solid aquamarine;
    border-radius: 50px;
}
.parrafo-img
{
    display: flex;
    justify-content: space-evenly;
}

.perfil
{
    display: inline;
    border: 10px solid aquamarine;
    border-radius: 50px;
}
span{
    display: inline-block;
    justify-content: space-evenly;
}

.home-imgs
{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}

.catalogo-lst
{
    display: flex;
    border: 10px solid rgb(204, 147, 209);
    border-radius: 50px;
    justify-content: space-evenly;
    background-color: rgb(170, 224, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.foto-catalogo
{
    border: 5px solid rgb(255, 255, 123);
    border-radius: 50px;
}

/*++++++++++++++++++
PIE
++++++++++++++++++++*/
.pie-pagina
{
    display: flex;
    justify-content: right;
    gap: 50px;
    border: 10px solid blue;
    border-radius: 10px;
}